.project_main{
    
    background-color: black;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 80px;
}
.project{
    display: flex;
    justify-content: center;
   margin: auto;
    gap: 40px;
    width: 90%;
    flex-wrap: wrap;
    margin-top: 90px;
    
}
.project_div{
    width: 400px;
    box-shadow: rgba(252, 249, 249, 0.867) 0px 5px 15px;
    background-color: black;
    color: rgb(174, 149, 149);
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
}
.bt_h{
    transition: 0.5s;
}
.bt_h:hover{
    scale: 1.11;
    background: rgb(0, 0, 0);
    color: black;
}
.pro_imag{
    transition: 0.5s;
}
.pro_imag:hover{
    scale: 1.11;
    background: rgb(0, 0, 0);
    color: black;
}
/* .project_div:hover{
    scale: 1.11;
    background: white;
    color: black;
} */
.img{
    width: 100%;
    border-radius: 8px;
  border: 2px solid black;
}
.img_heading{
    font-size: 22px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    
}
.bt{
    display: flex;
    justify-content: space-between;
    
}
.bt button{
    padding: 8px 15px 8px 15px;
    color: aliceblue;
    border-radius: 20px;
    background-color: #72737b;
    border: 0px;
    font-weight: bold;
}
.bt button:hover{
    background-color: cornsilk;
    color: #111;
}
/* @media (min-width:0px) and (max-width:860px) {
    .project{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1,fr);
        grid-row-gap: 50px;
        grid-column-gap: 50px;
        align-items: center;
       
        
    }
    
}
@media (min-width:861px) and (max-width:1200px){
    .project{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 50px;
        grid-column-gap: 50px;
        
        padding: 60px;
        margin: auto;
    }
    .project_div{
        
        box-shadow: rgba(233, 229, 229, 0.867) 0px 5px 15px;
        background-color: #323444;
        color: white;
        padding: 10px;
        border-radius: 10px;
    }
} */